<div data-layout-decorate="~{/layout-admin}" layout:fragment="content"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Quản Lý Cư Dân</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a th:href="@{/quan-ly}">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a >Cư Dân</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a>Danh sách cư dân</a>
                        </li>
                    </ul>
                </div>
                <!-- Modal -->
                <div aria-hidden="true" class="modal fade" id="form-vehicle" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    Thêm căn hộ mới
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input class="form-control" hidden="true" id="idVehicle" placeholder="đơn giá"
                                           type="number">
                                    <div class="row">
                                        <div class="col-md-3 pl-2">
                                            <div class="form-group form-group-default ">
                                                <label>Select</label>
                                                <select class="form-control" id="type">
                                                    <option th:each="t : ${TypeVehicles}" th:text="${t.name}" th:value="${t.id}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Biển số xe </label>
                                                <input class="form-control" id="licensePlates" placeholder="biển số xe"
                                                       type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Màu </label>
                                                <input class="form-control" id="color" placeholder="màu xe" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Ngày đăng ký </label>
                                                <input class="form-control" id="date" placeholder="ngày đăng ký"
                                                       type="date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>ID Cư dân </label>
                                                <input class="form-control" id="idResident" placeholder="Id cư dân"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer no-bd">
                                <button class="btn btn-success btn-sm" id="save-vehicle" type="button">
                                    <i class="fas fa-save"></i>
                                    Lưu lại
                                </button>
                                <button class="btn btn-danger btn-sm" id="clean-form-vehicle" type="button">
                                    <i class="fas fa-sync-alt"></i>
                                    làm mới
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Danh sách cư dân</h4>
                                    <button class="btn btn-success btn-sm btn-round ml-auto mr-2" data-target="#form-resident"
                                            data-toggle="modal" onclick="changetitle()">
                                        <i class="fa fa-plus"></i>
                                        Thêm mới
                                    </button>
                                    <button class="btn btn-sm btn-primary btn-round mr-2 " data-target="#form-vehicle"
                                            data-toggle="modal">
                                        <i class="fa fa-plus"></i>
                                        Đăng ký xe gửi
                                    </button>
                                    <a th:href="@{/api/resident/export-excel}">
                                        <button class="btn btn-sm btn-primary btn-round ml-auto ">
                                            <i class="fas fa-download"></i>
                                            Xuất File Excel
                                        </button>
                                    </a>

                                </div>
                            </div>
                            <div class="card-body">
                                <!-- Modal -->
                                <div aria-hidden="true" class="modal fade" id="form-resident" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title" id="form-label">
                                                    Thêm căn hộ mới
                                                </h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal"
                                                        type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <input class="form-control" hidden="true" id="id" placeholder="đơn giá"
                                                           type="number">
                                                    <div class="row">
                                                        <div class="col-md-6 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Họ và tên </label>
                                                                <input class="form-control" id="fullname" placeholder="fill name" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Ngày sinh </label>
                                                                <input class="form-control" id="birthday" placeholder="fill position"
                                                                       type="date">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label class="mb-1">Giới tính </label>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input class="custom-control-input" id="male" name="gender"
                                                                           type="radio" value="male">
                                                                    <label class="custom-control-label"
                                                                           for="male">Nam</label>
                                                                </div>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input class="custom-control-input" id="female" name="gender"
                                                                           type="radio"
                                                                           value="female">
                                                                    <label class="custom-control-label"
                                                                           for="female">Nữ</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>CMND</label>
                                                                <input class="form-control" id="identitycard"
                                                                       placeholder="số chứng minh thư"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Điện thoại</label>
                                                                <input class="form-control" id="phone" placeholder="số điện thoại"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Nghề nghiệp</label>
                                                                <input class="form-control" id="job" placeholder="nghề nghiệp"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Quê quán</label>
                                                                <input class="form-control" id="hometown" placeholder="quê quán"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>E-mail</label>
                                                                <input class="form-control" id="email" placeholder="địa chỉ e-mail"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Căn hộ</label>
                                                                <input class="form-control" id="idapartment" placeholder="căn hộ"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button class="btn btn-success btn-sm" id="saveResident" type="button">
                                                    <i class="fas fa-save"></i>
                                                    Lưu lại
                                                </button>
                                                <button class="btn btn-danger btn-sm" id="clean-form-resident" type="button">
                                                    <i class="fas fa-sync-alt"></i>
                                                    làm mới
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="display table table-striped table-hover" id="table-resident">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Họ Tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Nghề nghiệp</th>
                                            <th>Điện thoại</th>
                                            <th>Căn hộ</th>
                                            <th style="width: 10%">Cập nhật</th>
                                            <th style="width: 10%">Xóa</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Họ Tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Nghề nghiệp</th>
                                            <th>Điện thoại</th>
                                            <th>Căn hộ</th>
                                            <th style="width: 10%">Cập nhật</th>
                                            <th style="width: 10%">Xóa</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <footer class="footer">
            <div class="container-fluid">
                <div class="pull-left">Version 1.0</div>
                <div class="copyright ml-auto">
                    all copyrights reserved 2020 by team A
                </div>
            </div>
        </footer>
        <script th:src="@{/assets/quanly/js/cu-dan/cudan.js}"></script>
        <script th:src="@{/assets/quanly/js/cu-dan/xe.js}"></script>
    </div>
</div>