<!DOCTYPE html>
<html 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  
<head th:replace="components/user/head.html"></head></head>
<body>
<!-- Navigation -->
<nav th:replace="components/user/nav.html"></nav>
<!-- Carousel -->
<div th:replace="components/user/carousel-slide.html"></div>

<!-- content -->
<div layout:fragment="content">

 </div>

<!-- footer -->
<footer th:replace="components/user/footer.html"></footer>

</body>

</html>