<div lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{/layout-user}">
<div layout:fragment="content">
	<section class="developments-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="development-box">
						<div class="dev-text">
							<h1 style="text-align: center;">NỘI QUY QUẢN LÝ SỬ DỤNG NHÀ CHUNG CƯ</h1>
							<h3>Điều 1. Quy định đối với chủ sở hữu, người sử dụng, người tạm trú và khách ra vào nhà
								chung cư </h3>
							<p>1. Chủ sở hữu nhà chung cư phải chấp hành nghiêm chỉnh Quy chế quản lý, sử dụng nhà chung
								cư do Bộ Xây dựng ban hành và Bản nội quy này. </p>
							<p>2. Khách ra vào nhà chung cư phải đăng ký, xuất trình giấy tờ chứng minh nhân thân tại
								quầy lễ tân (nếu có)
								hoặc tại tổ bảo vệ và phải tuân thủ sự hướng dẫn của lễ tân hoặc bảo vệ nhà chung cư.
								Trong trường hợp cần thiết, lễ tân hoặc bảo vệ nhà chung cư được giữ các giấy tờ chứng
								minh nhân
								thân của khách ra vào nhà chung cư để phục vụ cho việc kiểm soát an ninh, an toàn của
								nhà chung cư.
								Đối với khu vực dành cho văn phòng, dịch vụ, thương mại thì không cần phải đăng ký, xuất
								trình giấy
								tờ chứng minh nhân thân này.</p>
							<p>3. Người đến tạm trú tại căn hộ phải đăng ký danh sách người tạm trú với quầy lễ tân (nếu
								có)
								hoặc tại tổ bảo vệ; đăng ký tạm trú tại cơ quan công an cấp phường sở tại.</p>
							<p>4. Người sử dụng căn hộ, người tạm trú phải chịu trách nhiệm trước pháp luật về các hành
								vi vi phạm Quy chế quản lý,
								sử dụng nhà chung cư và Bản nội quy này.</p>
							<p>5. Các quy định áp dụng đối với nhân viên làm việc tại khu vực văn phòng, dịch vụ,
								thương mại: do chủ đầu tư, Hội nghị nhà chung cư quy định thêm cho phù hợp với từng nhà
								chung cư.</p>
							<h3>Điều 2. Các hành vi bị nghiêm cấm trong việc sử dụng nhà chung cư</h3>
							<p>1. Gây mất an ninh, trật tự, nói tục, chửi bậy, sử dụng truyền thanh, truyền hình hoặc
								các thiết bị phát ra âm thanh gây ồn ào
								làm ảnh hưởng đến sinh hoạt của các chủ sở hữu, người sử dụng nhà chung cư.</p>
							<p>2. Phóng uế, xả rác hoặc các loại chất thải, chất độc hại không đúng nơi quy định,
								gây ô nhiễm môi trường nhà chung cư.</p>
							<p>3. Ném bất cứ vật gì từ cửa sổ, ban công của căn hộ.</p>
							<p>4. Chăn, thả, nuôi gia súc, gia cầm trong nhà chung cư.</p>
							<p>5. Đốt vàng mã, đốt lửa trong nhà chung cư, trừ địa điểm được đốt vàng mã theo quy định
								tại nhà chung cư.</p>
							<p>6. Phơi, để quần áo và bất cứ vật dụng nào trên lan can hoặc tại phần không gian từ lan
								can trở lên hoặc vắt ngang cửa sổ của căn hộ.</p>
							<p>7. Đánh bạc, hoạt động mại dâm trong nhà chung cư.</p>
							<p>8. Kinh doanh các ngành nghề có liên quan đến vật liệu nổ, dễ cháy, gây nguy hiểm cho
								tính mạng, tài sản của người sử dụng nhà chung cư.</p>
							<p>9. Mua, bán, tàng trữ, sử dụng trái phép chất ma túy tại căn hộ và các khu vực khác trong
								nhà chung cư.</p>
							<p>10. Tự ý chuyển đổi công năng, mục đích sử dụng phần diện tích, các thiết bị thuộc sở hữu
								chung, sử dụng chung của nhà chung cư.</p>
							<p>11. Các hành vi khác theo quy định của pháp luật có liên quan đến nhà chung cư: do Hội
								nghị nhà chung cư quy định thêm cho phù hợp với từng nhà chung cư.</p>
							<p>12. Các hành vi bị nghiêm cấm khác theo quy định của pháp luật.</p>
							<h3>Điều 3. Quy định về việc sử dụng phần sở hữu chung của nhà chung cư</h3>
							<p>1. Sử dụng thang máy và các thiết bị sử dụng chung theo đúng mục đích, công năng thiết kế
								sử dụng. Trẻ em dưới 12 tuổi khi sử dụng thang máy hoặc công trình phục vụ chung phải có
								cha, mẹ hoặc người trông coi đi kèm và giám sát.</p>
							<p>2. Không được làm hư hỏng hoặc có hành vi vi phạm đến tài sản chung của nhà chung cư.</p>
							<p>3. Không được chiếm dụng, sử dụng phần diện tích thuộc sở hữu chung, sử dụng chung vào
								mục đích riêng; không được để các vật dụng thuộc sở hữu riêng tại phần sở hữu chung.</p>
							<p>4. Tuân thủ đầy đủ các quy định về việc dừng, đỗ xe tại nơi được dừng, đỗ xe theo quy
								định.</p>
							<p>5. Sử dụng nhà sinh hoạt cộng đồng vào đúng mục đích, công năng theo quy định của pháp
								luật về nhà ở.</p>
							<p>6. Tuân thủ đầy đủ các quy định về an toàn phòng cháy, chữa cháy của nhà chung cư.</p>
							<p>7. Các quy định khác: do Hội nghị nhà chung cư quy định thêm cho phù hợp với từng nhà
								chung cư.</p>
							<h3>Điều 4. Quy định về việc sửa chữa các hư hỏng, thay đổi hoặc lắp đặt thêm trong căn hộ,
								phần diện tích khác thuộc sở hữu riêng</h3>
							<p>1. Trường hợp căn hộ hoặc phần diện tích khác thuộc sở hữu riêng có hư hỏng thì chủ sở
								hữu hoặc người sử dụng được quyền sửa chữa, thay thế nhưng không được làm hư hỏng phần
								sở hữu chung và ảnh hưởng đến các chủ sở hữu khác.</p>
							<p>2. Trường hợp thay thế, sửa chữa hoặc lắp đặt thiết bị thêm thì phải bảo đảm không làm
								thay đổi, biến dạng hoặc làm hư hỏng kết cấu của nhà chung cư.</p>
							<p>3. Trường hợp có hư hỏng các thiết bị thuộc phần sở hữu chung, sử dụng chung gắn liền với
								căn hộ, phần diện tích khác thuộc sở hữu riêng thì việc thay thế, sửa chữa phải được
								thực hiện theo quy định của Quy chế quản lý, sử dụng nhà chung cư do Bộ Xây dựng ban
								hành nhưng không được làm ảnh hưởng đến phần sở hữu riêng của chủ sở hữu khác. Chủ sở
								hữu phải thông báo cho Ban quản lý nhà chung cư để kịp thời sửa chữa, thay thế khi có hư
								hỏng và phải tạo điều kiện thuận lợi cho đơn vị thi công khi sửa chữa các hư hỏng này.
							</p>
							<p>4. Trường hợp nhà chung cư có khu văn phòng, dịch vụ, thương mại mà có hư hỏng các thiết
								bị thuộc phần sử dụng chung của nhà chung cư thì chủ sở hữu khu chức năng này phải thực
								hiện sửa chữa, thay thế theo quy định của Quy chế quản lý, sử dụng nhà chung cư do Bộ
								Xây dựng ban hành.</p>
							<p>5. Trường hợp vận chuyển các thiết bị, đồ dùng trong nhà chung cư hoặc vận chuyển vật
								liệu khi sửa chữa các hư hỏng thì phải thông báo cho Ban Quản lý nhà chung cư và chỉ
								được thực hiện trong thời gian từ 8 giờ sáng tới 18 giờ chiều hàng ngày để tránh làm ảnh
								hưởng đến hoạt động của nhà chung cư.</p>
							<p>6. Các quy định khác: do Hội nghị nhà chung cư quy định thêm cho phù hợp với từng nhà
								chung cư.</p>
	
	
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</section>
</div>
</div>